page-app-settings {
    ion-title {
        p {
            text-transform: uppercase;
            overflow: hidden; 
            text-overflow: ellipsis;
        }
    }

    .content {
        ion-list-header {
            p {
                color: map-get($colors, primary);
                font-size: 20px;
                font-weight: bold;
            }
        }

        .item-title {
            color: map-get($colors, primary);
            font-size: 16px;
        }
    }
    @media screen and (min-device-width:768px) and (max-device-width:1024px){
        font-size: 25px;
        }
}
