<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Speakers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center;">
      <img src="../../assets/imgs/Mr.ChinSooMau.jpg">
  </div>
 

 <ion-list class="orders-list">

  <ion-row>
    <ion-col col-12>
      <p text-center style="font-size:20px;">秦树茂先生</p>
      <p text-center style="font-size:20px;">Mr Chin Soo Mau</p>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-12>
        <p text-center>马来西亚光伏产业协会2019/2020届会长</p>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12>
          <p text-center>President of the Malaysian Photovoltaic Industry Association (MPIA) for the term 2019/2020.</p>
        </ion-col>
      </ion-row>
    

  

    
  </ion-list>

  
  <ion-segment [(ngModel)]="version">

      <ion-segment-button value="chinese">
          <p class="item-title" style="color:#ED6D10;">Chinese</p>
        </ion-segment-button>

    <ion-segment-button value="english">
      <p class="item-title" style="color:#ED6D10;">English</p>

    </ion-segment-button>

  

  </ion-segment>


  <div [ngSwitch]="version">
      <div *ngSwitchCase="'chinese'">

          <ion-row>
              <ion-col>
                <p style="line-height: 2.0em;">秦树茂先生是马来西亚光伏产业协会2019/2020届 会长， 也是该协会2017/2018届会长及在2013-2016年担任副会长。 自2010年加入该协会， 他一直是活跃会员。 他从事太阳能光伏事业多年， 对光伏领域有渊博的知识和实际经验， 以致马来西亚政府在有关的政策规划上借助他的专长， 例如受委马来西亚太阳能路线图工作组2016-2030 成员、马来西亚可再生能源技术委员会委员、马来西亚能源储存系统项目资源人士等。 他持有英国电机工程高级国家文凭、并网和离网光伏系统设计师资格证书、可持续能源发展局(SEDA)注册服务提供商、国际可持续质量认证光伏系统设计资格证书等。 他目前是PEKAT 集团的集团董事经理， 该集团拥有Pekat Solar 私人有限公司、Pekat 工程私人有限公司及Pekat E&LP 私人有限公司。</p>
              </ion-col>
            </ion-row>
        </div>
        </div>


        <div [ngSwitch]="version">
            <div *ngSwitchCase="'english'">
                <ion-row>
                    <ion-col>
                      <p style="line-height: 2.0em;">Mr Chin Soo Mau is the President of the Malaysian Photovoltaic Industry Association (MPIA) for the term 2019/2020. He was also the President for 2017/2018, the Vice-President from 2013-2016 and has been an active member since 2010. He has been involved in the solar PV business for many years and his knowledge and field experience have prompted the Malaysian Government to tap his expertise in policy-related planning such as: Member of the Working Group on Malaysia Solar Roadmap (MSR) 2016-2030, Member of the Technical Committee of Malaysian Standards on Renewable Energy (TC RE), Resource Person of the Energy Storage System (ESS) Project for Malaysia. Mr Chin holds a Higher National Diploma in Electrical Engineering, United Kingdom, Competent Certificates of both Grid-Connected and Off-Grid Photovoltaic Systems Designer, Sustainable Energy Development Authority (SEDA) registered Service Provider and International Sustainable Power Quality-accredited PV Systems Design Competency Certificates. He is the Group Managing Director of PEKAT Group of Companies that holds Pekat Solar Sdn Bhd, Pekat Engineering Sdn Bhd and Pekat E&LP Sdn Bhd.
                       </p>
                    </ion-col>
                  </ion-row>
              </div>
              </div>

 
  
</ion-content>