<ion-header>
    
  <ion-navbar>
      <ion-title>ABOUT ACCCIM</ion-title>
   
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-col text-center>
      <div class="logo" center>
        <ion-img style="width: 160px; height: 80px;background:none;" src="../../assets/imgs/acccim_logo2_resize.png"></ion-img>
     </div>
    <p class="bag-empty">ACCCIM 中总</p>
<div class="ion-text-justify">
    <p class="bag-description" style="line-height: 2.0em;">中总中央理事会于2011 年8月25日会议议决成立青商组，并于2012年中总第66届第一次中央理事会会议决定，中总青商组正名为青商团。 中总共有17个属会，分布在国内13州及联邦直辖区。迄今中总全马17个属会皆已成立青商团，吸纳各行业青年企业家和专业人士参与。目前全国青商团员总数超过5,000人，成为中总及各属会重要的工作组之一。</p>
  <br/>
    <p class="bag-description" style="line-height: 2.0em;">The ACCCIM National Council, at its meeting held on 25th August 2011, formally resolved to form the ACCCIM Young Entrepreneurs Working Group, and at the 1st Meeting of ACCCIM 66th National Council, decided to change the name to ACCCIM Young Entrepreneurs Committee (YEC).</p>
    <br/>
    <p class="bag-description" style="line-height: 2.0em;">ACCCIM has 17 Constituent Chambers in 13 states and Federal Territory of Malaysia. All the 17 Constituent Chambers have formed their respective YEC, attracting participation by young entrepreneurs and professionals from all sectors. These YECs have now a combined membership of more than 5,000 and have become one of the key working committees of ACCCIM and its respective Constituent Chambers.</p>
  </div>
  
  </ion-col>
</ion-content>