page-filter {
    ion-content.content-md[padding] .scroll-content, 
    ion-content.content-ios[padding] .scroll-content {
        padding: 0px !important;
    }

    .content {
        background-color: lightgray;

        .filter-type {
            color: map-get($colors, primary);
            font-size: 16px;
        }
    }

    ion-footer {
        color: map-get($colors, primary);

        p {
            color: white;
            text-transform: none;
            font-size: 16px;
        }
    }
    @media screen and (min-device-width:768px) and (max-device-width:1024px){
        font-size: 25px;
        }
}
