<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div style="text-align:center">
        <img src="../../assets/imgs/Mr.CharlesChuang.png">
    </div>
         

    <ion-row>
        <ion-col col-12>
          <p text-center style="font-size:20px;">庄嘉明先生</p>
          <p text-center style="font-size:20px;">Mr. Charles Chuang</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>创奕能源科技股份有限公司技术长</p>
          </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col col-12>
              <p text-center>Chief Technology Officer of Tron Energy Technology Corp</p>
            </ion-col>
          </ion-row>


    <ion-segment [(ngModel)]="version">

        <ion-segment-button value="chinese">
            <p class="item-title" style="color:#ED6D10;">Chinese</p>
          </ion-segment-button>

      <ion-segment-button value="english">
        <p class="item-title" style="color:#ED6D10;">English</p>

      </ion-segment-button>

    

    </ion-segment>

    <div [ngSwitch]="version">
        <div *ngSwitchCase="'chinese'">
            <ion-row>
                <ion-col>
                    <p style="line-height: 2.0em;">庄嘉明出生于台北，在青少年时移居美国。他在康乃尔大学以最优异的成绩完成电机工程学位，硕士则是在加州大学柏克莱分校取得。 他的第一份工作是在硅谷惠普，被封为惠普人机介面汇流排(HP Human Interface Loop) 之父。惠普人机介面汇流排在12年后进化演变成 USB业界标准。 在美国慧智 (Wyse Technology)他带领研发团队设计一系列最畅销的终端机及显示器。在美国Network Computing Devices他的X终端机产品连续领先业界达五年之久。在彩富电子，他发明了超微影像辨识技术，使阴极射像管调整可以无人化，并因此获取全球自动调整系统60%市占率。捷源绿能科技(Atieva, Inc.)为特斯拉原始电池团队所创，他以亚太区总经理职位建立中国总部，上海工厂，并设计动力电池系统给予公交巴士，并达成三千万公里，零事故记录。目前他在创奕能源担任技术长，致力于电动巴士， 无人巴士，及储能系统之开发与研究。创奕能源预计在2020年上市，这将是他职业生涯第四个IPO。 庄嘉明目前研究重点为高信赖度电池系统及无人车技术以切入5G智慧城市的应用。他已获得13个美国专利， 其中9项在新能源领域。他同时也发布过14篇技术文章。</p>
                </ion-col>
              </ion-row>
        </div>
    </div>
   

    <div [ngSwitch]="version">
        <div *ngSwitchCase="'english'">
            <ion-row>
                <ion-col>
                  <p style="line-height: 2.0em;">Charles was born in Taiwan, and moved to the United States while a teenager. He graduated Summa cum laude from Cornell University with a BS Electrical Engineering degree. He completed his MSEE degree at University of California at Berkeley. Charles worked in Silicon Valley for 16 years. At Hewlett Packard, he was nick-named “father of Human Interface Loop” for inventing USB like functions 12 years before the standard was published. At Wyse Technology he led a team that designed more than two dozen award winning computer terminals and displays. At Network Computing Devices, he led a team that held #1 position in the X-terminal market for 5 years. At DynaColor, he invented micro subpixel algorithm that enables CRT display to be automated and secured 60% world market share. Atieva, Inc. was founded by the initial battery team from Tesla Motors. Charles was Atieva’s VP and Asia Pacific general manager that set up China headquarter and factory in Shanghai and designed EV battery packs with over 30 Million kilometer safety track record in China. Presently, he is Chief Technology Officer at Tron Energy Technology Corporation (Tron-e) focusing on EV buses, autonomous buses, and energy storage systems. Tron-e is expected to have initial public offering (IPO) in 2020, the 4th IPO in Charles’ career. Charles current research interest is in ultra-reliable battery packs and vehicle innovations for Smart City applications. Charles has 13 US patents to this credit (9 in new energy field). He has also published 14 technical papers.</p>
                </ion-col>
              </ion-row>
          </div>
          </div>
   
  
   
  
    <!-- <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="ios-basket-outline"></ion-icon>
        <p>My orders</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-archive-outline"></ion-icon>
        <p>My returns</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-bicycle"></ion-icon>
        <p>Premier Delivery</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-bookmarks-outline"></ion-icon>
        <p>My details</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-home-outline"></ion-icon>
        <p>Address Book</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-card"></ion-icon>
        <p>Payment methods</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-text-outline"></ion-icon>
        <p>Contact Preferences</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-contacts-outline"></ion-icon>
        <p>Social accounts</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-game-controller-b-outline"></ion-icon>
        <p>Gift card & vouchers</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-help-circle-outline"></ion-icon>
        <p>Need help?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>Where's my order?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>How do I make a return?</p>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-icon item-start name="md-log-out"></ion-icon>
      <p>Sign out</p>
    </ion-item> -->
  </ion-content>