page-men-women-category-pop-over {
    .label-md, .label-ios{
        margin: 0px;
    }
    @media screen and (min-device-width:768px) and (max-device-width:1024px){
        font-size: 25px;
        }
}
