<ion-header>
  <ion-navbar>

    <ion-title *ngIf="userisnotsignin">WELCOME TO ACCCIM</ion-title>
    <div *ngFor="let username of userCredential">
      <ion-title *ngIf="userissignin">Hi, {{username.EnglishName}} </ion-title>
    </div>



    <ion-buttons right>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-refresher slot="fixed" (ionRefresh)="allRefresh($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div [ngSwitch]="homeSegment">

    <div *ngSwitchCase="'home'">


      <div *ngIf="Diamond">
        <ion-row style="margin-top: 5px;">
          <ion-col col-12>
            <ion-slides *ngIf="Diamond && Diamond.length" class="image-slider" loop="true" slidesPerView="1.0"
              autoplay="2000" speed="500" style="width: 100%; height: 100%px; ">
              <ion-slide *ngFor="let img of Diamond">
                <img style="width: 100%; height:100%;" src="https://admin.acccim-registration.org.my{{img}}"
                  class="thumb-img" imageViewer />
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </div>


      <div *ngIf="!Diamond">
        <ion-row style="margin-top: 5px;">
          <ion-col col-12>
            <ion-slides *ngIf="fakeDiamond && fakeDiamond.length" class="image-slider" loop="true" slidesPerView="1.0"
              autoplay="2000" speed="500" style="width: 100%; height: 100%px; ">
              <ion-slide *ngFor="let img of fakeDiamond" class="fakeDiamond">
                <img style="width: 100%; height:100%;" src="../../assets/imgs/thumbnail.jpg" class="thumb-img"
                  imageViewer style="border-radius:4px;" />
              </ion-slide>
            </ion-slides>
          </ion-col>
        </ion-row>
      </div>

      <div *ngIf="Platinum">
        <ion-row style="margin-top: 10px;">
          <h6 style="margin-left: 18px;">Platinum Sponsors</h6>

          <ion-slides *ngIf="Platinum && Platinum.length" class="image-slider" loop="false" slidesPerView="1.0"
            autoplay="2000" speed="500" style="width: 100%; height: 100%px; ">

            <ion-slide *ngFor="let img of Platinum">
              <ion-grid id="related-products" style="background-color: transparent;">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item-platinum">
                    <div (click)="PopUpAds(img.AdsID)">


                      <img class="product-image" src="https://admin.acccim-registration.org.my{{img.HomePageAds}}">


                      <ion-item no-lines>
                        <p class="discount-price" style="text-align:center;">{{img.CompanyName}}</p>
                      </ion-item>


                    </div>
                  </ion-col>
                </ion-scroll>
              </ion-grid>
            </ion-slide>
          </ion-slides>

          <!-- <ion-grid id="related-products">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item" padding *ngFor="let img of Platinum">
                    <div (click)="PopUpAds(img.AdsID)">
      
      
                      <img class="product-image" src="https://admin.acccim-registration.org.my{{img.HomePageAds}}">
      
      
                      <ion-item no-lines>
                        <p class="discount-price" item-start>{{img.CompanyName}}</p>
                      </ion-item>
      
      
                    </div>
                  </ion-col>
      
                </ion-scroll>
              </ion-grid> -->
        </ion-row>
      </div>


      <div *ngIf="!Platinum">
        <ion-row style="margin-top: 10px;">
          <h6 style="margin-left: 18px;">Platinum Sponsors</h6>

          <ion-slides *ngIf="fakePlatinum && fakePlatinum.length" class="image-slider" loop="true" slidesPerView="1.0"
            autoplay="2000" speed="500" style="width: 100%; height: 100%px; ">

            <ion-slide *ngFor="let img of fakePlatinum" class="fakePlatinum">
              <ion-grid id="related-products" style="background-color: transparent;">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item-platinum">
                    <div>


                      <img class="product-image" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;">


                      <ion-item no-lines>
                        <p style="border-radius:4px; text-align:center"></p>
                      </ion-item>


                    </div>
                  </ion-col>
                </ion-scroll>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </div>

      <div *ngIf="Gold">
        <ion-row style="margin-bottom: -50px;">
          <h6 style="margin-left: 18px;">Gold Sponsors</h6>
          <ion-slides *ngIf="Gold && Gold.length" class="image-slider" loop="false" slidesPerView="1.0" autoplay="2000"
            speed="500" style="width: 100%; height: 100%px; ">

            <ion-slide *ngFor="let img of Gold">
              <ion-grid id="related-products" style="background-color: transparent;">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item" padding>
                    <div (click)="PopUpAds(img.AdsID)">


                      <img class="product-image" src="https://admin.acccim-registration.org.my{{img.HomePageAds}}">


                      <ion-item no-lines>
                        <p class="discount-price" item-start>{{img.CompanyName}}</p>
                      </ion-item>


                    </div>
                  </ion-col>

                </ion-scroll>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </div>

      <div *ngIf="!Gold">
        <ion-row style="margin-bottom: -50px;">
          <h6 style="margin-left: 18px;">Gold Sponsors</h6>
          <ion-slides *ngIf="fakeGold && fakeGold.length" class="image-slider" loop="true" slidesPerView="1.0"
            autoplay="2000" speed="500" style="width: 100%; height: 100%px; ">

            <ion-slide *ngFor="let img of fakeGold" class="fakeGold">
              <ion-grid id="related-products" style="background-color: transparent;">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item" padding>
                    <div>


                      <img class="product-image" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;">


                      <ion-item no-lines>
                        <p style="border-radius:4px; text-align:center"></p>
                      </ion-item>


                    </div>
                  </ion-col>

                </ion-scroll>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </div>


      <div *ngIf="Silver">
        <ion-row style="margin-bottom: -50px;">
          <h6 style="margin-left: 18px;">Silver Sponsors</h6>
          <ion-slides *ngIf="Silver && Silver.length" class="image-slider" loop="false" slidesPerView="1.5"
            autoplay="2000" speed="500" style="width: 100%; height: 100%; ">

            <ion-slide *ngFor="let img of Silver">
              <ion-grid id="related-products" style="background-color: transparent;">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item-silver" padding>
                    <div (click)="PopUpAds(img.AdsID)">


                      <img class="product-image" src="https://admin.acccim-registration.org.my{{img.HomePageAds}}">


                      <ion-item no-lines>
                        <p class="discount-price" item-start>{{img.CompanyName}}</p>
                      </ion-item>


                    </div>
                  </ion-col>

                </ion-scroll>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </div>

      <div *ngIf="!Silver">
        <ion-row>
          <h6 style="margin-left: 18px;">Silver Sponsors</h6>
          <ion-slides *ngIf="fakeSilver && fakeSilver.length" class="image-slider" loop="true" slidesPerView="1.5"
            autoplay="2000" speed="500" style="width: 100%; height: 100%px; ">

            <ion-slide *ngFor="let img of fakeSilver" class="fakeSilver">
              <ion-grid id="related-products">
                <ion-scroll scrollX="true" scroll-avatar>
                  <ion-col class="scroll-item-silver" padding>
                    <div>


                      <img class="product-image" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;">


                      <ion-item no-lines>
                        <p style="border-radius:4px; text-align:center;"></p>
                      </ion-item>


                    </div>
                  </ion-col>

                </ion-scroll>
              </ion-grid>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </div>


      <!-- <ion-row style="margin-bottom: -75px;">
        <h6 style="margin-left: 18px;">Supporting Sponsors</h6>
        <ion-grid id="related-products">


          <ion-scroll scrollX="true" scroll-avatar>
            <ion-col class="scroll-item" padding *ngFor="let img of Supporting">
              <div (click)="PopUpAds(img.AdsID)">


                <img class="product-image" src="https://admin.acccim-registration.org.my{{img.HomePageAds}}">


                <ion-item no-lines>
                  <p class="discount-price" item-start>{{img.CompanyName}}</p>
                </ion-item>


              </div>
            </ion-col>

          </ion-scroll>
        </ion-grid>

      </ion-row> -->
      <div *ngIf="Advertisement">
        <ion-row>
          <h6 style="margin-left: 18px;">Advertisement</h6>
          <ion-grid id="related-products" style="max-height:380px;">


            <ion-scroll scrollX="true" scroll-avatar>
              <ion-col class="scroll-item-ads" padding *ngFor="let img of Advertisement">
                <div (click)="PopUpAds(img.AdsID)">


                  <img class="product-image" src="https://admin.acccim-registration.org.my{{img.FullListing}}">


                  <ion-item no-lines>
                    <p class="discount-price" item-start>{{img.CompanyName}}</p>
                  </ion-item>


                </div>
              </ion-col>

            </ion-scroll>
          </ion-grid>
        </ion-row>
      </div>

      <div *ngIf="!Advertisement">
        <ion-row>
          <h6 style="margin-left: 18px;">Advertisement</h6>
          <ion-grid id="related-products" style="max-height:380px;">


            <ion-scroll scrollX="true" scroll-avatar>
              <ion-col class="scroll-item-ads" padding *ngFor="let img of fakeAdvertisement" class="fakeAdvertisement">
                <div>


                  <img class="product-image" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;">


                  <ion-item no-lines>
                    <p style="border-radius:4px; text-align:center;"></p>
                  </ion-item>


                </div>
              </ion-col>

            </ion-scroll>
          </ion-grid>
        </ion-row>
      </div>





      <div *ngIf="showPopularEvent">
        <ion-row>

          
          <ion-grid id="related-products" style="background-color:transparent;">

              <h6 style="margin-left: 18px; margin-top:20px;">Browse Programme</h6>
            <ion-scroll scrollX="true" scroll-avatar>
              <ion-col class="scroll-item-popularevent" padding *ngFor="let eventhome of showPopularEvent">
                <div (click)="gotoEvent(eventhome.EventID);">


                  <img class="product-image" *ngIf="eventhome.EventImage"
                    src="http://admin.acccim-registration.org.my{{eventhome.EventImage}}">
                  <img class="product-image" *ngIf="!eventhome.EventImage" src="../../assets/imgs/ACCIMlogo.png">

                  <ion-item no-lines>
                    <p class="discount-price" item-start>{{eventhome.EventTitle}}</p>
                  </ion-item>

                  <p class="product-brand-description" *ngIf="eventhome.VenueName">Venue: {{eventhome.VenueName}}</p>
                  <p class="product-brand-description" *ngIf="!eventhome.VenueName">Venue: N/A</p>
                </div>
              </ion-col>
            </ion-scroll>
          </ion-grid>

        </ion-row>
      </div>


      <div *ngIf="!showPopularEvent">
        <ion-row style="margin-top: 5px;">

          <h6 style="margin-left: 18px;">Browse Programme</h6>
          <ion-grid id="related-products">


            <ion-scroll scrollX="true" scroll-avatar>
              <ion-col class="scroll-item" padding *ngFor="let eventhome of fakeshowPopularEvent"
                class="fakeshowPopularEvent">
                <div>



                  <img class="product-image" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;">

                  <ion-item no-lines>
                    <p style="border-radius:4px; text-align:center;"></p>
                  </ion-item>

                  <p style="border-radius:4px;  text-align:center;"></p>
                  <p style="border-radius:4px;  text-align:center;"></p>
                </div>
              </ion-col>
            </ion-scroll>
          </ion-grid>

        </ion-row>
      </div>










    </div>

    <div *ngSwitchCase="'event'">


      <ion-segment [(ngModel)]="eventinfo">

        <ion-segment-button value="programme">
          <p class="item-title" style="color:#ED6D10;">Programme</p>
        </ion-segment-button>

        <ion-segment-button value="speakers">
          <p class="item-title" style="color:#ED6D10;">Speakers</p>

        </ion-segment-button>



      </ion-segment>

      <div [ngSwitch]="eventinfo">
        <div *ngSwitchCase="'speakers'">
          <ion-card>
            <ion-grid (click)="gotoSpeakers1();">
              <ion-row>
                <ion-col col-6>


                  <img style=" border-radius: 9px" src="../../assets/imgs/1.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">马来西亚全国总商会总会长暨马来西亚中华总商会（中总）总会长</p>
                  <p style="margin-top: 8px;"><b>丹斯里拿督戴良业</b></p>
                  <p style="margin-top: 8px;"><b>Tan Sri Datuk Ter Leong Yap,</b></p>
                  <p><b>President of The National Chamber of Commerce and Industry of Malaysia (NCCIM) and President of
                      The Associated Chinese Chambers of Commerce and Industry of Malaysia (ACCCIM)</b></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers2();">
              <ion-row>
                <ion-col col-6>


                  <img style=" border-radius: 9px" src="../../assets/imgs/3.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">Pekat集团董事总经理秦树茂先生</p>
                  <p style="margin-top: 8px;"><b>Mr. Chin Soo Mau, Group Managing Director of Pekat Group of Companies
                    </b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers3();">
              <ion-row>
                <ion-col col-6>


                  <img style=" border-radius: 9px" src="../../assets/imgs/2.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">创奕能源科技股份有限公司技术长庄嘉明先生</p>
                  <p style="margin-top: 8px;"><b>Mr. Charles Chuang, Chief Technology Officer of Tron Energy Technology
                      Corp</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers4();">
              <ion-row>
                <ion-col col-6>


                  <img style="border-radius: 9px" src="../../assets/imgs/9.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">高昇集团董事经理胡琬真女士</p>
                  <p style="margin-top: 8px;"><b>Ms. Stefanie Aw, Managing Director of Acten Group</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers5();">
              <ion-row>
                <ion-col col-6>


                  <img style=" border-radius: 9px" src="../../assets/imgs/7.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">Tera VA Sdn. Bhd.首席执行官暨筹委会主席梁哲民先生</p>
                  <p style="margin-top: 8px;"><b>Mr. Michael Leong, </b></p>
                  <p><b>CEO of Tera VA Sdn. Bhd. cum Chairman of Organising Committee</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers6();">
              <ion-row>
                <ion-col col-6>


                  <img style=" border-radius: 9px" src="../../assets/imgs/10.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">iPay88 Sdn. Bhd.执行董事林国兴先生</p>
                  <p style="margin-top: 8px;"><b>Mr. Lim Kok Hing, Executive Director of iPay88 Sdn. Bhd.</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers7();">
              <ion-row>
                <ion-col col-6>


                  <img style="border-radius: 9px" src="../../assets/imgs/5.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">Axiata Digital eCode私人有限公司策略及特别项目董事涂汉鑫先生</p>
                  <p style="margin-top: 8px;"><b>Mr. Hanson Toh,</b></p>
                  <p><b> Director, Strategy & Special Projects, Axiata Digital eCode Sdn Bhd</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers8();">
              <ion-row>
                <ion-col col-6>


                  <img style="border-radius: 9px" src="../../assets/imgs/6.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">Setel首席执行官 Mr. Iskandar Ezzahuddin</p>
                  <p style="margin-top: 8px;"><b>Mr. Iskandar Ezzahuddin, Chief Executive Officer, Setel</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers9();">
              <ion-row>
                <ion-col col-6>
                  <img style=" border-radius: 9px" src="../../assets/imgs/4.png" class="responsive">

                </ion-col>
                <ion-col col-6>
                  <p style="margin-top: 8px;">Soft Space策略总监梁耀聪先生</p>
                  <p style="margin-top: 8px;"><b>Mr. Chris Leong,</b></p>
                  <p><b>Chief Strategy Officer of Soft Space</b></p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

          <ion-card>
            <ion-grid (click)="gotoSpeakers10();">
              <ion-row>
                <ion-col col-6>


                  <img style=" border-radius: 9px" src="../../assets/imgs/8.png" class="responsive">



                </ion-col>

                <ion-col col-6>
                  <p style="margin-top: 8px;">马来西亚中华总商会第一副总秘书蔡文洲律师</p>
                  <p style="margin-top: 8px;"><b>Mr. Michael Chai Woon Chew,</b></p>
                  <p><b>Deputy Secretary-General I of ACCCIM</b></p>




                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>

        </div>
      </div>


      <div [ngSwitch]="eventinfo">
        <div *ngSwitchCase="'programme'">
          <ion-searchbar (ionInput)="getEventTitle($event);" [debounce]="500" placeholder="Search By Event Title Only">
          </ion-searchbar>

          <div *ngIf="showEvent">
            <div *ngFor="let item of showEvent" style="margin-top:30px;">
              <div>
                <ion-card>
                  <ion-grid (click)="gotoEvent(item.EventID);">
                    <ion-row>
                      <ion-col col-12>

                        <div *ngIf="item.EventImage">
                          <img style="width: 100%; height: 100%; border-radius: 9px"
                            src="http://admin.acccim-registration.org.my{{item.EventImage}}">
                        </div>
                        <div *ngIf="!item.EventImage">
                          <img style="width: 100%; height: 100%; border-radius: 9px"
                            src="../../assets/imgs/ACCIMlogo.png">
                        </div>



                      </ion-col>
                    </ion-row>
                    <ion-row>

                      <ion-col col-12>
                        <p style="margin-top: 8px;" text-center><b>{{item.EventTitle}}</b></p>



                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-2>
                        <p>
                          <ion-icon name="calendar" style="font-size:30px; margin-right:20px;"></ion-icon>
                        </p>
                      </ion-col>
                      <ion-col col-10>
                        <p class="product-price">{{item.StartDate | date: "yyyy/MM/dd"}}</p>
                        <p class="product-price"> {{item.StartTime}}</p>
                      </ion-col>

                      <ion-col col-2>
                        <p>
                          <ion-icon name="person" style="font-size:30px; margin-right:20px;"></ion-icon>
                        </p>
                      </ion-col>
                      <ion-col col-10>
                        <p><i>Available For :</i></p>
                        <div *ngFor="let gett of item.MemberAvailability_tb">
                          <p>{{gett.MemberType}}</p>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card>
              </div>


            </div>
          </div>

          <div *ngIf="!showEvent">
            <div *ngFor="let item of fakeshowEvent" style="margin-top:30px;" class="fakeshowEvent">
              <div>
                <ion-card>
                  <ion-grid>
                    <ion-row>
                      <ion-col col-12>

                        <div>
                          <img style="width: 100%; height: 100%; border-radius: 9px"
                            src="../../assets/imgs/thumbnail.jpg">
                        </div>




                      </ion-col>
                    </ion-row>
                    <ion-row>

                      <ion-col col-12>
                        <p></p>



                      </ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col col-2>
                        <label>
                          <ion-icon></ion-icon>
                        </label>
                      </ion-col>
                      <ion-col col-10>
                        <label class="product-price"></label>
                        <label class="product-price"></label>
                      </ion-col>

                      <ion-col col-2>
                        <label>
                          <ion-icon></ion-icon>
                        </label>
                      </ion-col>

                    </ion-row>
                  </ion-grid>
                </ion-card>
              </div>


            </div>
          </div>






        </div>
      </div>




    </div>

    <div *ngSwitchCase="'sponsors'">


      <!-- <ion-segment [(ngModel)]="gridlistview">

        <ion-segment-button value="sponsors">
          <p class="item-title" style="color:#ED6D10;">Sponsors</p>

        </ion-segment-button>

        <ion-segment-button value="advertisement">
          <p class="item-title" style="color:#ED6D10;">Advertisement</p>
        </ion-segment-button>

      </ion-segment> -->

      <!-- <div [ngSwitch]="gridlistview">
        <div *ngSwitchCase="'sponsors'"> -->
      <h1 text-center style="margin-top: 20px;">Platinum Sponsors</h1>

      <ion-row *ngIf="platinumresult">
        <ion-col col-6 *ngFor="let getadsimage of platinumresult">
          <img style="width: 100%; height: 100%;"
            src="http://admin.acccim-registration.org.my{{getadsimage.GridListing}}"
            (click)="PopUpAds(getadsimage.AdsID)" />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!platinumresult">
        <ion-col col-6 *ngFor="let getadsimage of fakeplatinumresult" class="fakeplatinumresult">
          <img style="width: 100%; height: 100%;" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;" />
        </ion-col>
      </ion-row>



      <h1 text-center style="margin-top: 20px;">Gold Sponsors</h1>
      <ion-row *ngIf="goldresult">
        <ion-col col-6 *ngFor="let getadsimage of goldresult">
          <img style="width: 100%; height: 100%;"
            src="http://admin.acccim-registration.org.my{{getadsimage.GridListing}}"
            (click)="PopUpAds(getadsimage.AdsID)" />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!goldresult">
        <ion-col col-6 *ngFor="let getadsimage of fakegoldresult" class="fakegoldresult">
          <img style="width: 100%; height: 100%;" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;" />
        </ion-col>
      </ion-row>

      <h1 text-center style="margin-top: 20px;">Silver Sponsors</h1>
      <ion-row *ngIf="silverresult">
        <ion-col col-4 *ngFor="let getadsimage of silverresult">
          <img style="width: 100%; height: 100%;"
            src="http://admin.acccim-registration.org.my{{getadsimage.GridListing}}"
            (click)="PopUpAds(getadsimage.AdsID)" />
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!silverresult">
        <ion-col col-4 *ngFor="let getadsimage of fakesilverresult" class="fakesilverresult">
          <img style="width: 100%; height: 100%;" src="../../assets/imgs/thumbnail.jpg" style="border-radius:4px;" />
        </ion-col>
      </ion-row>

      <!-- <h1 text-center style="margin-top: 20px;">Supporting Sponsors</h1>
          <ion-row *ngIf="supportingresult">
            <ion-col col-3 *ngFor="let getadsimage of supportingresult">
              <img style="width: 100%; height: 100%;"
                src="http://admin.acccim-registration.org.my{{getadsimage.GridListing}}" (click)="PopUpAds(getadsimage.AdsID)"/>
            </ion-col>
          </ion-row>

          <ion-row *ngIf="!supportingresult">
              <ion-col col-3 *ngFor="let getadsimage of fakesupportingresult" class="fakesupportingresult">
                <img style="width: 100%; height: 100%;"
                  src="../../assets/imgs/thumbnail.jpg"/>
              </ion-col>
            </ion-row> -->
      <!-- </div>
      </div> -->
      <!-- <div [ngSwitch]="gridlistview">
        <div *ngSwitchCase="'advertisement'">
            <ion-searchbar (ionInput)="advertisementCategories($event);" [debounce]="500" placeholder="Search By Company Name">
              </ion-searchbar>
         <ion-row *ngIf="advertisementresult">
            <ion-col col-6 *ngFor="let img of advertisementresult">
                <ion-card>
                    <ion-grid id="related-products">
                      <ion-row>
                        <ion-col col-12>
                          
                          <img style="width: 100%; height: 100%;" src="https://admin.acccim-registration.org.my{{img.FullListing}}" (click)="PopUpAds(img.AdsID)"/>
   
                        </ion-col>
        
                        
                            <ion-item no-lines>
                                <p class="discount-price" style="text-align:center;" item-start>{{img.CompanyName}}</p>
                              </ion-item>
                        
                      </ion-row>
                    </ion-grid>
                  </ion-card>
            </ion-col>
          </ion-row> 

          <ion-row *ngIf="!advertisementresult">
              <ion-col col-6 *ngFor="let img of fakeadvertisementresult" class="fakeadvertisementresult">
                  <ion-card>
                      <ion-grid id="related-products">
                        <ion-row>
                            
                            <ion-item no-lines>
                              <h3>
                                
                              </h3>
                            </ion-item>
                         
          
                          
                              <ion-item no-lines>
                                  <p>
                                     
                                  </p>
                                </ion-item>
                          
                        </ion-row>
                      </ion-grid>
                    </ion-card>
              </ion-col>
            </ion-row> 
         
        </div>
        </div> -->


    </div>

    <div *ngSwitchCase="'profile'">

      <ion-item *ngIf="usernotyetlogin" (click)="goToAbout()">
        <ion-icon name="md-information-circle" item-start></ion-icon>
        <p>About ACCCIM</p>
      </ion-item>

      <div *ngFor="let user of userCredential">
        <img [src]="sanitizer.bypassSecurityTrustUrl(user.QRCodeImage)">

        <div style="text-align:center">
          <ion-row>
            <ion-col col-12>
              <p style="font-size: 20px;">{{user.EventRegID}}</p>
              <p style="font-size: 15px;">{{user.UserType}}</p>

            </ion-col>
          </ion-row>




        </div>
        <ion-list class="orders-list">


          <ion-item>
            <ion-icon item-start name="md-person"></ion-icon>
            <p>{{user.EnglishName}}</p>
          </ion-item>

          <ion-item>
            <ion-icon item-start name="md-mail"></ion-icon>
            <p>{{user.Email}}</p>
          </ion-item>
          <ion-item>
            <ion-icon item-start name="md-call"></ion-icon>
            <p>{{user.Contact}}</p>
          </ion-item>

          <ion-item>
            <ion-icon item-start name="md-bookmark"></ion-icon>
            <p>{{user.Title}}</p>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-icon item-start name="md-locate"></ion-icon>
            <p>{{user.Constituent}}</p>
          </ion-item>

          <ion-item>


            <ion-icon item-start name="md-briefcase"></ion-icon>
            <p>{{user.CompanyName}}</p>
          </ion-item>

          <ion-item>
            <ion-icon item-start name="md-people"></ion-icon>
            <p>{{user.OrganizationName}}</p>
          </ion-item>


        </ion-list>

        <ion-item *ngIf="userislogin" (click)="goToAbout()">
          <ion-icon name="md-information-circle" item-start></ion-icon>
          <p>About ACCCIM</p>
        </ion-item>

        <ion-item (click)="goToChangePassword()">
          <ion-icon item-start name="md-lock"></ion-icon>
          <p>Change Password</p>
        </ion-item>

        <ion-item (click)="signOut();">
          <ion-icon item-start name="md-log-out"></ion-icon>
          <p>Sign out</p>
        </ion-item>


      </div>



      <div style="bottom: 0px; width: 100%" center>
        <div style="text-align: center; padding: right 10px;">
          <ion-row>
            <ion-col col-12>
              <button ion-button style="width:100%;" *ngIf="loginbutton" (click)="signIn()">Sign In</button>

            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>


  </div>



</ion-content>



<ion-footer>

  <ion-toolbar class="footer-color">

    <ion-segment [(ngModel)]="homeSegment">
      <ion-segment-button value="home">
        <ion-icon name="home" style="margin-top: -50px !important; ">
        </ion-icon>

        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Home</p>
        </div>
      </ion-segment-button>



      <ion-segment-button value="event">
        <ion-icon name="list-box" style="margin-top: -50px !important; "></ion-icon>
        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Programme</p>
        </div>
      </ion-segment-button>
      <ion-segment-button value="sponsors">
        <ion-icon name="document" style="margin-top: -50px !important; "></ion-icon>
        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Sponsors</p>
        </div>
      </ion-segment-button>

      <ion-segment-button value="profile" (click)="checkStorage();">
        <ion-icon name="person" style="margin-top: -50px !important; "></ion-icon>
        <div style="margin-top: -40px !important; ">
          <p class="item-title" style="color:#ED6D10;">Me</p>
        </div>
      </ion-segment-button>


    </ion-segment>
  </ion-toolbar>
</ion-footer>