page-home {
    
    ion-title {
        p {
            //font-weight: bold;
            //font-size: 18px;
            color:white;
        }

        ion-icon {
            margin-left: 5px;
            font-size: 14px;
            font-weight: bold;
        }

       
        
    }

    ion-card {
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

        p {
            font-weight: bold !important;
            font-size: 25px !important;
        }
        

        ion-icon {
            margin-left: 5px !important;
            font-size: 32px !important;
            font-weight: bold;
        }
       
    }
       
        
    }

   
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
      }

      .toolbar-title-md{
          color : white;
          font-size: 15;
      }
    .toolbar-background{
      background: linear-gradient(120deg,#ffb92d  0%, #e04718 100%); 
       //background-color: #ED6D10;
       //color: white;
       
    }
    .footer-signin .toolbar-background{
        background: transparent;
    }
    .footer-color .toolbar-background{
        
        background: white;
    }
      .card-size{
          height: 150px;
      }
    .content {
        .segment-md .segment-button {
            font-weight: bold;
            font-family: 'FuturaTEEMed Regular';
        }

        .freeDeliveryReturns {
            color: map-get($colors, primary);
            margin-top: 10px;
            height: 25px;

            p {
                color: white;
                text-transform: none;
                font-size: 16px;
            }
        }

        img {
            height: 80%;
            width: 100%;
        }

        .item-title {
            margin: 10px 0 0 0;
            color: black;
        }

        .item-subtitle {
            margin: 5px 0;
            color: gray;
        }

        #related-products {
            background-color: white;

            .buy-look-row {
                background-color: white;

                .buy-the-look {
                    color: map-get($colors, primary);
                    font-size: 20px;
                    font-weight: bold;
                }
            }
            
            ion-scroll[scrollX] {
                white-space: nowrap;
                height: 300px;
                overflow: hidden;
            
                .scroll-item {
                    background-color: white;
                    display: inline-block;
                    max-width: 200px;
                    margin: 10px;
                    border-radius: 4px;
                   //border: 2px solid #F2F0F1;
                   box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);
                }

                .scroll-item-platinum {
                    background-color: white;
                    display: inline-block;
                    //max-width: 300px;
                    //margin: 10px;
                   border-radius: 4px;
                   //border: 2px solid #F2F0F1;
                   box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);
                }

                .scroll-item-silver {
                    background-color: white;
                    display: inline-block;
                    max-width: 200px;
                    //margin: 10px;
                    border-radius: 4px;
                   //border: 2px solid #F2F0F1;
                   box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);
                }

                .scroll-item-ads {
                    background-color: white;
                    display: inline-block;
                    max-width: 200px;
                    margin-top: -20px;
                    margin-bottom: 20px;
                    margin-right: 10px;
                    border-radius: 4px;
                   //border: 2px solid #F2F0F1;
                   box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);
                }

                .scroll-item-popularevent {
                    background-color: white;
                    display: inline-block;
                    max-width: 200px;
                    margin: 10px;
                    margin-top: 15px;
                    border-radius: 4px;
                   //border: 2px solid #F2F0F1;
                   box-shadow: 0 8px 8px rgba(0,0,0,0.1), 0 4px 4px rgba(0,0,0,0.1);
                }
            }
            
              /* Hide ion-content scrollbar */
            ::-webkit-scrollbar{
                display:none;
            }

            .product-image {
                max-height: 200px;
                min-height:120px;
                width: 100%;
            }

            .item-md, .item-ios {
                padding-left: 0px;
                margin: 0px;
            }

            .discount-price {
                margin: 0px;
                color: #ED6D10;
                font-size: 14px;
                font-weight: bolder;
            }

            .product-price {
                text-decoration: line-through;
                margin: 0 0 0 20px;
                color: map-get($colors, primary);
                font-size: 14px;
                font-weight: bolder;
            }
    
            .button-md, .button-ios {
                background-color: transparent;

                ion-icon {
                    font-weight: bolder;
                }
            }

            .product-brand-description {
                margin: 0px;
                color: map-get($colors, primary);
                font-size: 14px;
                overflow: hidden; 
                text-overflow: ellipsis;
            }
        }

          
        .circle {
            float: left;
            position: absolute;
            left: calc(50% - 40px);
            top: 145px;
            z-index: 1000;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            text-align: center;
            background: #000;
            margin-top: -50px;
        }

        .circle-text {
            font-size: 40px;
            color: white;
            font-weight: bolder;
            margin-top: 15px;
        }

        .orders-list {
            margin-top: 50px;
        }

        ion-list {
            border-bottom: 3px solid lightgray;
        }

        
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        ion-item {
            p {
                color: map-get($colors, primary);
                font-size: 26px;
            }

            ion-icon {
                color: map-get($colors, primary);
                font-weight: bold;
            }
        }

    }

    ion-item {
        p {
            color: map-get($colors, primary);
        }

        ion-icon {
            color: map-get($colors, primary);
            font-weight: bold;
        }
    }
        
      
    }

    .segment-md .segment-button {
        color:#ED6D10; 
       }
       
       .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
           border-color: #ED6D10;
       }
       .swiper-slide{
        position: initial;
    }

    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
       
        font-size: 25px;
    
   
 }


     @media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
     img.responsive { 
         width: 400px;
     }
     }
     img.responsive {
          height: auto; 
         }

  
}
   