<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div style="text-align:center;">
        <img src="../../assets/imgs/TanSriDatukTerLeongYap.jpg">
    </div>
    
    <ion-row>
        <ion-col col-12>
          <p text-center style="font-size:20px;">丹斯里拿督戴良业</p>
          <p text-center style="font-size:20px;">Tan Sri Datuk Ter Leong Yap</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>征阳集团 执行主席
                Executive Chairman,Sunsuria Berhad</p>
          </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12>
              <p text-center>PSM PJN AMN</p>
            </ion-col>
          </ion-row>

          <ion-list class="orders-list">
              <ion-item>
                <ion-icon item-start name="md-mail"></ion-icon>
                <p>lyter@sunsuria.com</p>
              </ion-item>
          </ion-list>

          <ion-segment [(ngModel)]="version">

              <ion-segment-button value="chinese">
                  <p class="item-title" style="color:#ED6D10;">Chinese</p>
                </ion-segment-button>
      
            <ion-segment-button value="english">
              <p class="item-title" style="color:#ED6D10;">English</p>
      
            </ion-segment-button>
      
            </ion-segment>


   <div [ngSwitch]="version">
          <div *ngSwitchCase="'chinese'">
              <ion-list>
                  <ion-item *ngFor="let p of pages2; let i=index" text-wrap (click)="ctoggleLevel1('idx'+i)" [ngClass]="{active: cisLevel1Shown('idx'+i)}">
                    <h4>
                      {{p.cfirstlayer}}
                      <ion-icon color="success" item-right [name]="cisLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </h4>
                    <ion-list *ngIf="cisLevel1Shown('idx'+i)">
                      <ion-item *ngFor="let s of p.csubs; let i2=index" text-wrap (click)="ctoggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: cisLevel2Shown('idx'+i+'idx'+i2)}">
                       
                        <h4 style="line-height: 2.0em;">
                          {{s.csecondlayer}}
                          <ion-icon color="success" item-right [name]="cisLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                        </h4>
                        <ion-list *ngIf="cisLevel2Shown('idx'+i+'idx'+i2)">
                          <ion-item *ngFor="let m of s.csecondsub" text-wrap>
                           <p style="line-height: 2.0em; font-size: 20px;" *ngIf="m.cdate">{{m.cdate}}</p>
                          <p style="line-height: 2.0em; font-size: 15px; font-weight:bold;" *ngIf="m.cname">{{m.cname}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription1">- {{m.cdescription1}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription2">- {{m.cdescription2}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription3">- {{m.cdescription3}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription4">- {{m.cdescription4}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription5">- {{m.cdescription5}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription6">- {{m.cdescription6}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription7">- {{m.cdescription7}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription8">- {{m.cdescription8}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription9">- {{m.cdescription9}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription10">- {{m.cdescription10}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.cdescription11">- {{m.cdescription11}}</p>
                          </ion-item>
                        </ion-list>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
          </div>
      </div>

      <div [ngSwitch]="version">
          <div *ngSwitchCase="'english'">
              <ion-list>
                  <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
                    <h4>
                      {{p.efirstlayer}}
                      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </h4>
                    <ion-list *ngIf="isLevel1Shown('idx'+i)">
                      <ion-item *ngFor="let s of p.esubs; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
                       
                        <h4 style="line-height: 2.0em;">
                          {{s.esecondlayer}}
                          <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                        </h4>
                        <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
                          <ion-item *ngFor="let m of s.esecondsub" text-wrap>
                          <p style="line-height: 2.0em; font-size: 20px;" *ngIf="m.edate">{{m.edate}}</p>
                          <p style="line-height: 2.0em; font-size: 15px; font-weight:bold;" *ngIf="m.ename">{{m.ename}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.epoint1">{{m.epoint1}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription1">- {{m.edescription1}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription2">- {{m.edescription2}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription3">- {{m.edescription3}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription4">- {{m.edescription4}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription5">- {{m.edescription5}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription6">- {{m.edescription6}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription7">- {{m.edescription7}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription8">- {{m.edescription8}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription9">- {{m.edescription9}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription10">- {{m.edescription10}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription11">- {{m.edescription11}}</p>
                          
                          </ion-item>
                        </ion-list>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
          </div>
      </div>
    <!-- <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="ios-basket-outline"></ion-icon>
        <p>My orders</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-archive-outline"></ion-icon>
        <p>My returns</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-bicycle"></ion-icon>
        <p>Premier Delivery</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-bookmarks-outline"></ion-icon>
        <p>My details</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-home-outline"></ion-icon>
        <p>Address Book</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-card"></ion-icon>
        <p>Payment methods</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-text-outline"></ion-icon>
        <p>Contact Preferences</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-contacts-outline"></ion-icon>
        <p>Social accounts</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-game-controller-b-outline"></ion-icon>
        <p>Gift card & vouchers</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-help-circle-outline"></ion-icon>
        <p>Need help?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>Where's my order?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>How do I make a return?</p>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-icon item-start name="md-log-out"></ion-icon>
      <p>Sign out</p>
    </ion-item> -->
  </ion-content>