<ion-header>
    <ion-navbar>
        <ion-title>Sign In</ion-title>

    </ion-navbar>
  </ion-header>
<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo">
        <ion-img style="width: 160px; height: 80px;background:none;" src="../../assets/imgs/ACCIMlogo.png"></ion-img>
      </div>
  
    </div>

    <!-- Login form -->
<div [formGroup]="loginForm"> 
    <div class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          ID 
        </ion-label>
        <ion-input type="text" [(ngModel)]="user" name="user" formControlName="user" id="user"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="pass" name="pass" formControlName="pass" id="pass"></ion-input>
      </ion-item>
    </div>
</div>
<!--
    <p text-right ion-text color="secondary" tappable (click)="forgotPass()"><strong>Forgot Password?</strong></p>
  -->
    <div>

    <br>
      <button ion-button icon-start block color="dark" tappable [disabled]="!loginForm.valid" (click)="login()">
        <ion-icon name="log-in"></ion-icon>
        SIGN IN
      </button>
    
     
    </div>


   
  </div>
</ion-content>

