page-speaker-detail5 {
    @media screen and (min-device-width:768px) and (max-device-width:1024px){
        font-size: 25px;
        }

        .toolbar-title-md{
            color : white;
            font-size: 15;
        }
      .toolbar-background{
        background: linear-gradient(120deg,#ffb92d  0%, #e04718 100%); 
         //background-color: #ED6D10;
         //color: white;
         
      }

      .bar-button-default-md{
        color: white;
    }
}
