<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>


    <div style="text-align:center;">
        <img src="../../assets/imgs/Mr.MichaelLeong.jpg">

    </div>

    <ion-row>
        <ion-col col-12>
          <p text-center  style="font-size:20px;">Michael Leong</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>Cheif Executive Officer,TERA VA S/B</p>
          </ion-col>
        </ion-row>
    
        
        <ion-row>
            <ion-col col-12>
              <p text-center>Grid Connected & Off Grid Solar PV System(FiT,NeM,SelCo & Off Grid)</p>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col col-12>
                <p text-center>Secretary of Malaysia Photovoltaic Industry Association(MPIA),FY19/20</p>
              </ion-col>
            </ion-row>
        
            
                    <ion-list>
                        <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
                          <h4>
                            {{p.efirstlayer}}
                            <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                          </h4>
                          <ion-list *ngIf="isLevel1Shown('idx'+i)">
                            <ion-item *ngFor="let s of p.esubs; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
                             
                              <h4 style="line-height: 2.0em;">
                                {{s.esecondlayer}}
                                <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                              </h4>
                              <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
                                <ion-item *ngFor="let m of s.esecondsub" text-wrap>
                                <p style="line-height: 2.0em; font-size:20px;" *ngIf="m.edescription6">{{m.edescription6}}</p>
                                <p style="line-height: 2.0em;" *ngIf="m.edescription1">- {{m.edescription1}}</p>
                                <p style="line-height: 2.0em;" *ngIf="m.edescription2">- {{m.edescription2}}</p>
                                <p style="line-height: 2.0em;" *ngIf="m.edescription3">- {{m.edescription3}}</p>
                                <p style="line-height: 2.0em;" *ngIf="m.edescription4">- {{m.edescription4}}</p>
                                <p style="line-height: 2.0em;" *ngIf="m.edescription5">- {{m.edescription5}}</p>
                                
                                </ion-item>
                              </ion-list>
                            </ion-item>
                          </ion-list>
                        </ion-item>
                      </ion-list>
              
   
  
   
  </ion-content>