<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    <div style="text-align:center">
        <img src="../../assets/imgs/林国兴.jpg">
    </div>
    

    <ion-row>
        <ion-col col-12>
          <p text-center style="font-size:20px;">林国兴先生</p>
          <p text-center style="font-size:20px;">Mr Lim Kok Hing</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>iPay88 创办人</p>
          </ion-col>
        </ion-row>
    
        <ion-row>
            <ion-col col-12>
              <p text-center>CO-FOUNDER OF iPay88</p>
            </ion-col>
          </ion-row>


    <ion-segment [(ngModel)]="version">

        <ion-segment-button value="chinese">
            <p class="item-title" style="color:#ED6D10;">Chinese</p>
          </ion-segment-button>
  
      <ion-segment-button value="english">
        <p class="item-title" style="color:#ED6D10;">English</p>
  
      </ion-segment-button>
  
    
  
    </ion-segment>

    <div [ngSwitch]="version">
        <div *ngSwitchCase="'chinese'">

            <ion-row>
                <ion-col col-12>
                  <p style="line-height: 2.0em;">他是一名工程师，于1989年毕业于马来亚大学工程系。在大学时，他在校园很活跃于各种活动筹办工作。毕业后，由于对商业及管理拥有浓厚的兴趣，在业余进修会计与金融科，并获得文凭。这对于他后来的创业，公司运营和策略制定，都有很大的帮助。 他曾经于跨国公司埃克森美孚Exxon Mobil就业，得以学习国际企业的管理方式。 在累积了几年的工作经验后，他决定创业！</p>
                </ion-col>
                <ion-col col-12>
                  <p style="line-height: 2.0em;">1997年8月31日他第一天创业，也是国家庆祝40年独立。当时是亚洲金融风暴达到最坏的时刻，他毅然不惧风暴，迈步去开创事业。当时公司业务是成为移动电讯的商业伙伴，达到快速增长所带来的商机。</p>
                </ion-col>
                <ion-col col-12>
                    <p style="line-height: 2.0em;">2006年，他和两位长久伙伴创立了iPay88。 他拥有20年创业和管理的经验。他的企业策划加上员工的配合，在高度竞争的环境中前进，带领着 iPay88 成为一个强大的公司。对与任何人，保持诚信乃是公司一贯的经营理念。</p>
                </ion-col>
                <ion-col col-12>
                  <p>2016年，他被提名为 安永EY最佳企业家奖项的候选人之一。</p>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-12>
                  <p>关于 iPay88</p>

                </ion-col>
                <ion-col col-12>
                  <p style="line-height: 2.0em;">iPay88 是东南亚领先的支付公司。自2006年以来，iPay88 已为多国超过2万个商家提供线上和线下支付服务。 iPay88 总部位于吉隆坡，在印尼，菲律宾，柬埔寨，泰国和新加坡设有办事处，目前在其办事处聘用了超过200 名专业人士。</p>
                </ion-col>
                <ion-col col-12>
                  <p style="line-height: 2.0em;">iPay88 近年来快速增长，目前正计划把业务发展到其他发展中国家。 iPay88 也是马来西亚最大的线上支付公司。所服务客戶涵盖大型企业集团、公营事业、中小企业和SOHO族，例如云顶、星报、AIA, 森那美 ，DiGi，Old Town白咖啡，PappaRich, 等。 最近也加了多加电子钱包例如微信支付，支付宝，银联，Boost, Touch n Go, GrabPay 等等， 已达到给予商家非常便利的收款方式。iPay88 每月处理数以百万笔交易，年交易额超过马币 50 亿以上。</p>
                </ion-col>
              </ion-row>
          </div>
          </div>


          <div [ngSwitch]="version">
              <div *ngSwitchCase="'english'">
      
                  <ion-row>
                      <ion-col col-12>
                        <p style="line-height: 2.0em;">An engineer by training, he graduated with an engineering degree from University of Malaya in 1989. During his university days, he was active in various activities. Upon his graduation, his keen interest in business and management prompted him to take up a course and obtained a diploma in accounting and finance. The credential proves much useful when he later decided to start his own business and in managing and charting strategies for his company. He worked with multinational Exxon Mobil, gaining exposure to international business management systems and culture. Armed with several years of working experience, he later decided to embark on a business career！</p>
                      </ion-col>
                      <ion-col col-12>
                        <p style="line-height: 2.0em;">He set up his business on 31 August 1997, the day when Malaysians celebrated the National Day, and at the height of the financial crisis sweeping through Asia . Undaunted by the crisis, he ventured into the business arena, becoming a partner of the mobile telecommunication industry. The company grew rapidly by taking advantage of the opportunities arising from the industry.</p>
                      </ion-col>
                      <ion-col col-12>
                          <p style="line-height: 2.0em;">In 2006, he co-founded iPay88 with two long-time business partners. With over two decades of business and management expertise and experience coupled with his corporate planning and staff teamwork , he had led the company to grow from strength to strength in spite of keen competition, subscribing to the business philosophy of integrity to all.</p>
                      </ion-col>
                      <ion-col col-12>
                        <p style="line-height: 2.0em;">In 2016, he was named one of the nominees for the EY Entrepreneur of the Year Award by Ernst and Young.
                          </p>
                      </ion-col>
                    </ion-row>
      
                    <ion-row>
                      <ion-col col-12>
                        <p>About iPay88</p>
      
                      </ion-col>
                      <ion-col col-12>
                        <p style="line-height: 2.0em;">iPay88 is the leading payment company in Southeast Asia, providing online and offline payment services to over 20,000 merchants in many countries since its inception in 2006. Based in Kuala Lumpur, iPay88 has set up offices in Indonesia, Philippines, Cambodia, Thailand and Singapore. Its headquarters employ over 200 professionals.</p>
                      </ion-col>
                      <ion-col col-12>
                        <p style="line-height: 2.0em;">Buoyed by its rapid growth in recent years, the Company is planning to expand to other developing countries. Being the biggest online payments service provider in Malaysia, iPay88 services cover conglomerates, utility companies, SMEs and the SOHO community. It clientele includes Gentings Group, the Star, AIA, Sime Darby ，DiGi，Old Town White Coffee， PappaRich and many more. Recently, it has added e-wallets such as WeChat Pay, Alipay, Union Pay, Boost, Touch n Go, and GrabPay to its list, providing convenient payment services to merchants. iPay88 processes millions of transactions worth over RM5.0 billion every month.</p>
                      </ion-col>
                    </ion-row>
                </div>
                </div>

  
  
    <!-- <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="ios-basket-outline"></ion-icon>
        <p>My orders</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-archive-outline"></ion-icon>
        <p>My returns</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-bicycle"></ion-icon>
        <p>Premier Delivery</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-bookmarks-outline"></ion-icon>
        <p>My details</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-home-outline"></ion-icon>
        <p>Address Book</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-card"></ion-icon>
        <p>Payment methods</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-text-outline"></ion-icon>
        <p>Contact Preferences</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-contacts-outline"></ion-icon>
        <p>Social accounts</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-game-controller-b-outline"></ion-icon>
        <p>Gift card & vouchers</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-help-circle-outline"></ion-icon>
        <p>Need help?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>Where's my order?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>How do I make a return?</p>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-icon item-start name="md-log-out"></ion-icon>
      <p>Sign out</p>
    </ion-item> -->
  </ion-content>