<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

<div style="text-align:center;">
    <img src="../../assets/imgs/Mr.IskandarEzzahuddin.jpg">
  
</div>
    

<ion-row>
    <ion-col col-12>
      <p text-center>Mr. Iskandar Ezzahuddin</p>
    </ion-col>
  </ion-row>

  <ion-row>
      <ion-col col-12>
        <p text-center>执行长 Chief Executive Officer, Setel</p>
      </ion-col>
    </ion-row>

   

<ion-segment [(ngModel)]="version">

    <ion-segment-button value="chinese">
        <p class="item-title" style="color:#ED6D10;">Chinese</p>
      </ion-segment-button>

  <ion-segment-button value="english">
    <p class="item-title" style="color:#ED6D10;">English</p>

  </ion-segment-button>



</ion-segment>

<div [ngSwitch]="version">
    <div *ngSwitchCase="'chinese'">

      <ion-row>
        <ion-col col-12>
          <p style="line-height: 2.0em;">国家总监、总经理及企业家。 在2 个不同市场开发、推动及迅速助长2 个网上初创企业. 职业生涯初期在跨国公司如 Protecr and Gamble、Nestle等担任多年消费者营销和数字业绩营销职务后， 他转向金融业发展， 在花旗银行和大华银行担任产品管理职务。 对网上初创企业世界的热诚.
              目前担任国油贸易有限公司独资拥有金融技术给 Setel Ventures 私人有限公司执行长 
              </p>
        </ion-col>
      </ion-row>

      <ion-list>
          <ion-item *ngFor="let p of pages2; let i=index" text-wrap (click)="ctoggleLevel1('idx'+i)" [ngClass]="{active: cisLevel1Shown('idx'+i)}">
            <h4>
              {{p.cfirstlayer}}
              <ion-icon color="success" item-right [name]="cisLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
            </h4>
            <ion-list *ngIf="cisLevel1Shown('idx'+i)">
              <ion-item *ngFor="let s of p.csubs; let i2=index" text-wrap (click)="ctoggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: cisLevel2Shown('idx'+i+'idx'+i2)}">
               
                <h4 style="line-height: 2.0em;">
                  {{s.csecondlayer}}
                  <ion-icon color="success" item-right [name]="cisLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                </h4>
                <ion-list *ngIf="cisLevel2Shown('idx'+i+'idx'+i2)">
                  <ion-item *ngFor="let m of s.csecondsub" text-wrap>
                  <p style="font-size:20px; line-height: 2.0em;" *ngIf="m.cdate">{{m.cdate}}</p>
                   <p style="font-size:15px; line-height: 2.0em; font-weight:bold;" *ngIf="m.cname">{{m.cname}}</p>
                   <p style="line-height: 2.0em;" *ngIf="m.cdescription1">- {{m.cdescription1}}</p>
                   <p style="line-height: 2.0em;" *ngIf="m.cdescription2">- {{m.cdescription2}}</p>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>

     
      </div>
</div>

<div [ngSwitch]="version">
    <div *ngSwitchCase="'english'">

        <ion-row>
            <ion-col col-12>
              <p style="line-height: 2.0em;">Country Director, General Manager and Entrepreneur. Developed, launched and quickly grew 2 online startups in 2 different verticals. After spending formative years in Consumer Marketing and Digital Performance Marketing in Multinational companies like Procter and Gamble, and Nestle,transitioned to the financial industry with Product Management roles with Citibank and UOB Bank. Passion for the online startup world. Currently holds Chief Executive Officer (CEO) for Setel Ventures Sdn Bhd, a wholly owned Fintech Company of PETRONAS Dagangan Berhad.</p>
            </ion-col>
          </ion-row>


          <ion-list>
              <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
                <h4>
                  {{p.efirstlayer}}
                  <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                </h4>
                <ion-list *ngIf="isLevel1Shown('idx'+i)">
                  <ion-item *ngFor="let s of p.esubs; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
                   
                    <h4 style="line-height: 2.0em;">
                      {{s.esecondlayer}}
                      <ion-icon color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
                    </h4>
                    <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
                      <ion-item *ngFor="let m of s.esecondsub" text-wrap>
                          <p style="font-size:20px; line-height: 2.0em;" *ngIf="m.edate">{{m.edate}}</p>
                          <p style="font-size:15px; line-height: 2.0em; font-weight:bold;" *ngIf="m.ename">{{m.ename}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription1">- {{m.edescription1}}</p>
                          <p style="line-height: 2.0em;" *ngIf="m.edescription2">- {{m.edescription2}}</p>
                      </ion-item>
                    </ion-list>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
      </div>


      </div>
  
  
    <!-- <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="ios-basket-outline"></ion-icon>
        <p>My orders</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-archive-outline"></ion-icon>
        <p>My returns</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-bicycle"></ion-icon>
        <p>Premier Delivery</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-bookmarks-outline"></ion-icon>
        <p>My details</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-home-outline"></ion-icon>
        <p>Address Book</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-card"></ion-icon>
        <p>Payment methods</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-text-outline"></ion-icon>
        <p>Contact Preferences</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-contacts-outline"></ion-icon>
        <p>Social accounts</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-game-controller-b-outline"></ion-icon>
        <p>Gift card & vouchers</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-help-circle-outline"></ion-icon>
        <p>Need help?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>Where's my order?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>How do I make a return?</p>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-icon item-start name="md-log-out"></ion-icon>
      <p>Sign out</p>
    </ion-item> -->
  </ion-content>