
.toolbar-title-md{
    color : white;
    font-size: 15;
}
.toolbar-background{
background: linear-gradient(120deg,#ffb92d  0%, #e04718 100%); 
 //background-color: #ED6D10;
 //color: white;
 
}

.bar-button-default-md{
    color: white;
}

.content {
   
    
    .circle {
        float: left;
        position: absolute;
        left: calc(50% - 40px);
        top: 145px;
        z-index: 1000;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        text-align: center;
        background: #000;
        margin-top: -50px;
    }

    .circle-text {
        font-size: 40px;
        color: white;
        font-weight: bolder;
        margin-top: 15px;
    }

    .orders-list {
        margin-top: 50px;
    }

    ion-list {
        border-bottom: 3px solid lightgray;
    }

    ion-item {
        p {
            color: map-get($colors, primary);
        }

        ion-icon {
            color: map-get($colors, primary);
            font-weight: bold;
        }
    }
    @media screen and (min-device-width:768px) and (max-device-width:1024px){
        font-size: 25px;
        }
}