page-change-password {
   @media screen and (min-device-width:768px) and (max-device-width:1024px){
      font-size: 25px;
      }
}
.toolbar-background{
    background: linear-gradient(120deg, #e04718 0%, #ffb92d 100%);
    
 }

 .changepasswordbutton{
    background: linear-gradient( 120deg, #24FE41 0%, #56ab2f  100%);
 }