<!--
  Generated template for the ChangePasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ChangePassword</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo">
        <ion-img style="width: 160px; height: 80px;background:none;" src="../../assets/imgs/ACCIMlogo.png"></ion-img>
      </div>
      
    </div>

    <!-- Login form -->
<div [formGroup]="ChangePasswordForm"> 
    <div class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Old Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="oldpassword" name="oldpassword" formControlName="oldpassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          New Password
        </ion-label>
        <ion-input type="password" [(ngModel)]="newpassword" name="newpassword" formControlName="newpassword"></ion-input>
      </ion-item>
    </div>
</div>

    <div>

    <br>
      <button ion-button icon-start block class="changepasswordbutton" tappable [disabled]="!ChangePasswordForm.valid" (click)="changepassword()">
       Change Password
      </button>
    
     

    </div>


   
  </div>
</ion-content>
