<ion-header no-border>
  <ion-navbar>

    <ion-title>Programme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngFor="let getspecevent of showSpecEvent">

    <div style="text-align:center">
      <div *ngIf="getspecevent.EventImage">
        <ion-col col-12>
          <img src="http://admin.acccim-registration.org.my{{getspecevent.EventImage}}" imageViewer>

        </ion-col>
      </div>

      <div *ngIf="!getspecevent.EventImage">

        <ion-col col-12>
          <img src="../../assets/imgs/ACCIMlogo.png">

        </ion-col>
      </div>
    </div>


  </div>



  <ion-grid style="margin-top: 8px;" id="product-details" *ngFor="let getspecevent of showSpecEvent">
    <ion-row>
      <ion-col text-center>


        <p text-center><b>{{getspecevent.EventTitle}}</b></p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12 *ngIf="getspecevent.OrganiserName">
        <p class="product-price">by {{getspecevent.OrganiserName}}</p>
      </ion-col>
      <ion-col col-12 *ngIf="!getspecevent.OrganiserName">
        <p class="product-price">by ACCCIM</p>
      </ion-col>
      <ion-col col-2>
        <label>
          <ion-icon name="calendar" style="font-size:30px; margin-right:20px;"></ion-icon>
        </label>
      </ion-col>
      <ion-col col-10>

        <label class="product-price"
          *ngIf="getspecevent.StartDate">{{getspecevent.StartDate | date: "yyyy/MM/dd"}}</label>-
        <label class="product-price" *ngIf="getspecevent.EndDate">{{getspecevent.EndDate | date: "yyyy/MM/dd"}}</label>
        <br />
        <label class="product-price" *ngIf="getspecevent.StartTime">{{getspecevent.StartTime}}</label> -
        <label class="product-price" *ngIf="getspecevent.EndTime">{{getspecevent.EndTime}}</label>
      </ion-col>
      <ion-col col-2>
        <label>
          <ion-icon name="pin" style="font-size:30px; margin-right:20px;"></ion-icon>
        </label>
      </ion-col>
      <ion-col col-10>
        <label class="product-price" *ngIf="getspecevent.VenueName">{{getspecevent.VenueName}}</label>
        <label class="product-price" *ngIf="!getspecevent.VenueName">-</label><br />
        <label class="product-external-links" *ngIf="getspecevent.Address">{{getspecevent.Address}}</label>
        <label class="product-external-links" *ngIf="!getspecevent.Address"></label>
      </ion-col>

      <ion-col col-2>
        <label>
          <ion-icon name="md-film" style="font-size:30px; margin-right:20px;"></ion-icon>
        </label>
      </ion-col>
      <ion-col col-10>
        <label class="product-price" *ngIf="getspecevent.EventType">{{getspecevent.EventType}}</label>
        <label class="product-price" *ngIf="!getspecevent.EventType"></label><br />
        <!--<label class="product-price" *ngIf="getspecevent.EventTopic">{{getspecevent.EventTopic}}</label>
          <label class="product-price" *ngIf="!getspecevent.EventTopic"></label>-->
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="product-price">About</p>
      </ion-col>
      <ion-col col-12>
        <label class="product-external-links" *ngIf="getspecevent.Description">{{getspecevent.Description}}</label>
        <label class="product-external-links" *ngIf="!getspecevent.Description"></label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="product-price">Location</p>
      </ion-col>
      <ion-col col-12>
        <label class="product-external-links">{{getspecevent.VenueName}}</label>
      </ion-col>
      <ion-col col-12>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-12>
        <p class="product-price">Available Only For</p>
      </ion-col>
      <ion-col col-12>
        <div *ngFor="let gett of getspecevent.MemberAvailability_tb">
          <label class="product-external-links">{{gett.MemberType}}</label>

        </div>
      </ion-col>
    </ion-row>
    <ion-row>

      <ion-col col-12>
        <p class="product-price">Organiser</p>
      </ion-col>
      <ion-col col-12>
        <img src="../../assets/imgs/Logo 1.jpg" style="width:40%; height: 90%;">
      </ion-col>
      <ion-col col-12>
        <p class="product-external-links">
          The ACCCIM National Council, at its meeting held on 25th August 2011,
          formally resolved to form the ACCCIM Young Entrepreneurs Working Group,
          and at the 1st Meeting of ACCCIM 66th National Council,
          decided to change the name to ACCCIM Young Entrepreneurs Committee (YEC).
          <!--<span id="dots">...</span>
           <span id="more"> ACCCIM 66th National Council, 
           decided to change the name to ACCCIM Young Entrepreneurs Committee (YEC).
          <br/>
          <br/>
           ACCCIM has 17 Constituent Chambers in 13 states and Federal Territory of Malaysia. 
           All the 17 Constituent Chambers have formed their respective YEC, 
           attracting participation by young entrepreneurs and professionals from all sectors. 
           These YECs have now a combined membership of more than 5,000 and 
           have become one of the key working committees of ACCCIM and its respective Constituent Chambers.</span>
           </p>-->
          <!--<span id="read" (click)="read2()" style="color:blue; background-color: white;">Read More</span>-->

      </ion-col>
    </ion-row>




  </ion-grid>

  <ion-grid id="related-products">
    <ion-item class="buy-look-row">
      <p class="buy-the-look" item-start>Browse More Programme</p>

    </ion-item>

    <ion-scroll scrollX="true" scroll-avatar>
      <ion-col class="scroll-item" padding *ngFor="let getevent of showEvent">
        <div (click)="gotoEvent(getevent.EventID);">


          <img class="product-image" *ngIf="getevent.EventImage"
            src="http://admin.acccim-registration.org.my{{getevent.EventImage}}">
          <img class="product-image" *ngIf="!getevent.EventImage" src="../../assets/imgs/ACCIMlogo.png">

          <ion-item no-lines>
            <p class="discount-price" item-start>{{getevent.EventTitle}}</p>
          </ion-item>

          <p class="product-brand-description" *ngIf="getevent.VenueName">Venue: {{getevent.VenueName}}</p>
          <p class="product-brand-description" *ngIf="!getevent.VenueName">Venue: N/A</p>
        </div>
      </ion-col>

    </ion-scroll>
  </ion-grid>
</ion-content>