<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <div style="text-align:center">
        <img src="../../assets/imgs/Mr.MichaelChaiWoonChew.png">
  
    </div>
    
    <ion-row>
        <ion-col col-12>
          <p text-center style="font-size:20px;">蔡文洲律师</p>
          <p text-center style="font-size:20px;">MICHAEL Chai Woon Chew</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>Michael Chai & Co律师事务所 执行合伙人 Managing Partner of Michael Chai & Co.</p>
          </ion-col>
        </ion-row>
  
    <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="md-locate"></ion-icon>
        <p>Level 5 Wisma Hong Leong <br/>

            18 Jalan Perak,50450 Kuala Lumpur,Malaysia</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-call"></ion-icon>
        <p>+ 603-2166 8662</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-print"></ion-icon>
        <p>+ 603-2166 8661</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="md-mail"></ion-icon>
        <p>mchai@mchai.com.my</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-navigate"></ion-icon>
        <p>www.mchai.com.my</p>
      </ion-item>
  </ion-list>
     
     

    <ion-segment [(ngModel)]="version">

        <ion-segment-button value="chinese">
            <p class="item-title" style="color:#ED6D10;">Chinese</p>
          </ion-segment-button>
  
      <ion-segment-button value="english">
        <p class="item-title" style="color:#ED6D10;">English</p>
  
      </ion-segment-button>
  
    
  
    </ion-segment>

    <div [ngSwitch]="version">
        <div *ngSwitchCase="'chinese'">

          <ion-row>
            <ion-col col-12>
              <p style="line-height: 2.0em;">蔡文洲律师是Michael Chai & Co律师事务所 (前称Michael Chai Ken)的执行合伙人， 主要执业领域为知识产权法，提供有关专利、工业设计、商标、版权、商业机密、技术转移、许可权及网络法等方面的意见。 他留学英国，持有伯明翰大学法律学位和萨里大学的化学学位。 他是英格兰林肯法学院的合格律师并获得马来西亚律师资格，于1991 年开始执业，并于1995年成为新加坡最高法院律师。 他是一位马来西亚的注册专利、商标及工业设计代理。蔡先生在知识产权上的专长涵盖控告、提供法律意见、许可权、咨询及诉讼等领域。他也是马来西亚海事学院董事。 蔡先生是多个国际专业组织的成员，并积极参与活动，包括国际保护知识产权协会 （马来西亚属会)、马来西亚许可贸易工作者协会、马来西亚知识产权协会、亚洲专利代理人协会、东盟知识产权协会、国际商标协会、马来西亚海事法协会、国际许可贸易工作者协会、马来西亚国际商会、 日本商标协会、马来西亚品牌协会、泛太平洋伙伴关系协定及马来西亚中华总商会（中总）企业顾问。他也是中国全国侨联的马来西亚法律顾问及广州海外交流协会理事</p>
            </ion-col>
          </ion-row>
          </div>
          </div>

          <div [ngSwitch]="version">
              <div *ngSwitchCase="'english'">

                <ion-row>
                  <ion-col col-12>
                    <p style="line-height: 2.0em;">Michael Chai is the managing partner of Michael Chai & Co. (formerly known as Michael Chai Ken). His main practice area is intellectual property law in which he advises on patents, industrial designs, trademarks, copyright, trade secrets, technology transfer, licensing and cyber law. He studied in UK where he holds a law degree from the University of Bukingham and degree in chemistry from the University of Surrey. He is qualified as a Barrister-at-law from Lincoln's Inn, England and called to the Bar in Malaysia before starting practice in 1991. He was admitted as an Advocate and Solicitor 1995 of the Supreme Court of Singapore. He is a registered patent, trade mark and industrial design agent in Malaysia. Michael's intellectual property expertise covers prosecution, opinions, licensing, counselling and litigation.</p>
                  </ion-col>

                  <ion-col col-12>
                    <p style="line-height: 2.0em;">He is also holding a directorship in Maritime Institute of Malaysia (MIMA). Michael Chai is a member and active in several international professional organisations including, Association Internationale pour la Protection de la Propriété Industrielle (AIPPI) (Malaysian Chapter), Licensing Executives Society Malaysia (LESM), Malaysian Intellectual Property Association (MIPA), Asian Patent Attorneys Association (APAA), Asean Intellectual Property Association (AIPA), International Trade Mark Association (INTA), Malaysian Maritime Law Association (MMLA), Licensing Executives Society International (LES International), International Chambers of Commerce Malaysia (ICC Malaysia), The Japan Trademark Association (JTA), The Branding Association of Malaysia (BAM), Corporate Advisor to Trans-Pacific Partnership Agreement (TPPA) and The Associated Chinese Chambers of Commerce and Industry of Malaysia (ACCCIM). He is also a legal advisor for Malaysia of the All-China Federation of Returned Overseas Legal Advisory Committee and member of Guangzhou Overseas Exchange Association Council.</p>
                  </ion-col>
                </ion-row>
      </div>
      </div>
  
   
  </ion-content>