<ion-menu id="myMenu" [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="welcome-title">
        <p>Hey,
          <strong>Julian Saik</strong>
        </p>
      </ion-title>
    </ion-toolbar>
   
  </ion-header> 
   

  <ion-content>
    <ion-list class="menu-list" no-lines>
      <ion-item class="side-menu-item" (click)="goToHome()">
        <ion-icon name="md-home" item-start></ion-icon>
        <button menuClose ion-item>HOME</button>
      </ion-item>

      <ion-item class="side-menu-item" (click)="goToBag()">
        <ion-icon name="md-information-circle" item-start></ion-icon>
        <button menuClose ion-item>About ACCCIM</button>
      </ion-item>

      <ion-item class="side-menu-item" (click)="goToChangePassword()">
          <ion-icon name="md-settings" item-start></ion-icon>
          <button menuClose ion-item>Change Password</button>
        </ion-item>
        
     
    </ion-list>

    

    <ion-list class="menu-list" *ngIf="checkSignOut">
      <ion-item class="side-menu-item" (click)="signOut()">
        <ion-icon name="md-log-out" item-start></ion-icon>
        <button menuClose ion-item>SIGN OUT</button>
      </ion-item>
    </ion-list>

   

    
  </ion-content>

 </ion-menu>

<!-- <ion-header>
    <ion-navbar>
       
  
      <ion-title *ngIf="nouser">Welcome To ACCCIM</ion-title>

    </ion-navbar>
  </ion-header> -->

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>