// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.welcome-title {
    background: linear-gradient(120deg, #e04718 0%, #ffb92d 100%);
   //background-color: #ED6D10;

    p {
        color: white;
    }
}

.fakeadvertisementresult {
    h3, p {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    h3 {
      width: 80%;
    } 
   
    p {
      width: 60%;
    }
   }

   .fakeshowEvent {
    img, p, label, ion-icon {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    p {
      width: 60%;
    }

    label {
        width: 60%;
      }
      ion-icon {
        width: 60%;
      }
   }

   .fakeplatinumresult {
    img {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    
   }

   .fakegoldresult {
    img {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    
   }

   .fakesilverresult {
    img {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    
   }

   .fakesupportingresult {
    img {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    
   }


   .fakeDiamond {
    img {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    
   }

   .fakePlatinum {
    img, p {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    p {
      width:100%;
      
    }
    
   }

   .fakeGold {
    img, p {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    p {
      width:100%;
      
    }
    
   }

   .fakeSilver {
    img, p {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    p {
      width:100%;
      
    }
    
   }

   .fakeAdvertisement {
    img, p {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    p {
      width:100%;
      
    }
    
   }

   .fakeshowPopularEvent {
    img, p {
      background-color: gray;
      opacity: 0.5;
      height: 1em;
      margin-top: 10px;
    }
   
   
    img {
      width: 80%;
    } 
   
    p {
      width:100%;
      
    }
    
   }
  
   ion-app.md [padding] .scroll-content{
     padding:16px 0px 0px 0px;
   }

.toolbar-title-md, .toolbar-title-ios {
    font-family: 'FuturaTEEMed Regular';
    color: map-get($colors, primary);
}

p {
    color: map-get($colors, primary);
    font-family: 'FuturaTEEMed Regular';
}

.side-menu-item {
    ion-icon {
        font-weight: bold;        
    }

    .label-md {
        margin: 0px;
        font-family: 'FuturaTEEMed Regular';
        font-size: 14px;
        font-weight: bold;
    }
}

.navbar-button {
    ion-icon {
        color: map-get($colors, white);
    }
}

.menu-list {
    border-bottom: 3px solid lightgrey;

    ion-list-header {
        p {
            color: map-get($colors, primary);
            font-size: 20px;
            font-weight: bold;
        }
    }

    ion-item {
        p {
            color: map-get($colors, primary);
        }
    }
}

@font-face {
    font-family: 'FuturaTEEMed Regular';
    font-weight: normal;
    font-style: normal;
    src: local('FuturaTEEMed Regular'), local('FuturaTEEMed Regular'), url("../assets/fonts/FuturaTEEMed Regular.ttf") format('woff2');
}