<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <div style="text-align:center">
        <img src="../../assets/imgs/Mr.HansonToh.jpg">
    </div>


    <ion-row>
        <ion-col col-12>
          <p text-center style="font-size:20px;">Hanson Toh</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>Director of Strategy & Special Projects at Boost (Axiata Digital eCode, within the Axiata Group)</p>
          </ion-col>
        </ion-row>
    
       

    <ion-row>
      <ion-col col-12>
        <p style="line-height: 2.0em;">Hanson Toh is currently the Director of Strategy & Special Projects at Boost (Axiata Digital eCode, within the Axiata Group) and has been in leadership roles within Axiata, focusing on incubation and acceleration of Internet/web/tech startup projects within the Axiata Group since he joined in 2015. Prior to Axiata, Hanson was the former Regional Head of Product Management & Marketing Analytics at Jobstreet.com, where he played a leadership role in the subsequent acquisition by SEEK.com. Hanson was the founder of ServiceClicks.com.my which was an online marketplace for consumer-centric services back in 2012 and which was pre-seed funded by Cradle's 150k fund. Hanson was Google's Country Consultant for 5 years (2006-2011) and was responsible for many aspects of Google's SEA and Malaysian strategy and operations in areas such as corporate strategy, product, sales, marketing, corp comm and other functional areas, leading to the setup of Google's Singaporean entity in 2007 and Malaysian entity in 2011. In addition to the above, he had spent 8 prior years in management consulting, telco strategy and operations as well as tech sales across South East Asia.</p>
      </ion-col>

      <ion-col col-12>
        <p style="line-height: 2.0em;">He is a Honeywell Millennium Challenge Award winner, awarded for global excellence in sales and global account-management practices. In his spare time (when there's any left!), Hanson works with various startups in a mentor/advisor capacity; he is a 3rd-season Coach & Grow Programme (CGP) Coach since 2014 and as an angel investor, has also invested in one CGP startup as well as other startups in the Malaysian ecosystem. He is also a current and former Mentor to the Young Corporate Malaysian YCM Community. He has two young boys (aged 11 and 7) and enjoys tennis, Spotify, traveling and spending time with the family. Hanson has an MBA from the Said Business School, University of Oxford and a Bachelor's in Mech. Engineering from the University of Warwick. He is also a certified Design Thinking trainer from Stanford's d.School and Hasso-Plattner Institute (the pioneer batch from Genovasi).</p>
      </ion-col>
    </ion-row>
   
  
    
  
    <!-- <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="ios-basket-outline"></ion-icon>
        <p>My orders</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-archive-outline"></ion-icon>
        <p>My returns</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-bicycle"></ion-icon>
        <p>Premier Delivery</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-bookmarks-outline"></ion-icon>
        <p>My details</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-home-outline"></ion-icon>
        <p>Address Book</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-card"></ion-icon>
        <p>Payment methods</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-text-outline"></ion-icon>
        <p>Contact Preferences</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-contacts-outline"></ion-icon>
        <p>Social accounts</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-game-controller-b-outline"></ion-icon>
        <p>Gift card & vouchers</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-help-circle-outline"></ion-icon>
        <p>Need help?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>Where's my order?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>How do I make a return?</p>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-icon item-start name="md-log-out"></ion-icon>
      <p>Sign out</p>
    </ion-item> -->
  </ion-content>