<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
  
      <ion-title>Speakers</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

    <div style="text-align:center">
        <img src="../../assets/imgs/Mr.ChrisLeong.jpg">
    </div>
    

    <ion-row>
        <ion-col col-12>
          <p text-center style="font-size:20px;">梁耀聪先生</p>
          <p text-center style="font-size:20px;">Chris Leong</p>
        </ion-col>
      </ion-row>
    
      <ion-row>
          <ion-col col-12>
            <p text-center>策略总监 Chief Strategy Officer (CSO)</p>
          </ion-col>
        </ion-row>
  
        <ion-row>
            <ion-col col-12>
              <p text-center>工商管理硕士（思克莱德大学）、伊斯兰认证、电子及电脑理科学士
                  MBA (University of Strathclyde), Certified Islamic, Bsc Electronic and Computing</p>
            </ion-col>
          </ion-row>
    
    <ion-segment [(ngModel)]="version">

        <ion-segment-button value="chinese">
            <p class="item-title" style="color:#ED6D10;">Chinese</p>
          </ion-segment-button>
  
      <ion-segment-button value="english">
        <p class="item-title" style="color:#ED6D10;">English</p>
  
      </ion-segment-button>
  
    
  
    </ion-segment>

    <div [ngSwitch]="version">
        <div *ngSwitchCase="'chinese'">
            <ion-row>
                <ion-col col-12>
                  <p style="line-height: 2.0em;">梁耀聪先生是Soft Space 现任策略总监，负责管理公司区域伙伴的利益相关者关系和提供流动支付市场的策略监督， 确保符合公司的增长目标。 他在开发可扩展企业解决方案方面有超过13 年的经验。他的职业背景包括提供意见给初创企业，加速它们的发展。 他是促使企业者与天使投资者搭配的天使投资组织---Virtuous Investment Circle (VIC)的创办人之一和著作 “Like Me, Follow Me—Twitter and Facebook For Business “ 的作者。</p>
                </ion-col>
              </ion-row>
          </div>
          </div>


          <div [ngSwitch]="version">
              <div *ngSwitchCase="'english'">
                  <ion-row>
                      <ion-col col-12>
                        <p style="line-height: 2.0em;">Chris Leong is the current Chief Strategy Officer at Soft Space. Chris manages stakeholder relations of our regional partners and provides strategic oversight of the mobile payments market to ensure alignment to the company’s growth targets. Chris has over 13 years of experience in developing scalable enterprise solutions. His career background includes providing advise to startups as part of an acceleration programme. He is a founding member of Virtuous Investment Circle (VIC), an angel investment group that match make entrepreneurs with angel investors and author of the book “Like Me, Follow Me – Twitter and Facebook for Business”.</p>
                      </ion-col>
                    </ion-row>
                </div>
                </div>
   
  
    <!-- <ion-list class="orders-list">
      <ion-item>
        <ion-icon item-start name="ios-basket-outline"></ion-icon>
        <p>My orders</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-archive-outline"></ion-icon>
        <p>My returns</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="md-bicycle"></ion-icon>
        <p>Premier Delivery</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-bookmarks-outline"></ion-icon>
        <p>My details</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-home-outline"></ion-icon>
        <p>Address Book</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-card"></ion-icon>
        <p>Payment methods</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-text-outline"></ion-icon>
        <p>Contact Preferences</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-contacts-outline"></ion-icon>
        <p>Social accounts</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-game-controller-b-outline"></ion-icon>
        <p>Gift card & vouchers</p>
      </ion-item>
    </ion-list>
  
    <ion-list>
      <ion-item>
        <ion-icon item-start name="ios-help-circle-outline"></ion-icon>
        <p>Need help?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>Where's my order?</p>
      </ion-item>
  
      <ion-item>
        <ion-icon item-start name="ios-browsers-outline"></ion-icon>
        <p>How do I make a return?</p>
      </ion-item>
    </ion-list>
  
    <ion-item>
      <ion-icon item-start name="md-log-out"></ion-icon>
      <p>Sign out</p>
    </ion-item> -->
  </ion-content>