page-filter-multi-selection {
    ion-title {
        p {
            text-transform: uppercase;
        }
    }

    ion-content.content-md[padding] .scroll-content, 
    ion-content.content-ios[padding] .scroll-content {
        padding: 0px !important;
    }

    ion-buttons {
        .bar-button-outline-md, .bar-button-outline-ios {
            color: map-get($colors, primary);
            background-color: lightgray;
        }
    }

    .isSelected {
        visibility: hidden;
    }

    .content {
        background-color: lightgray;

        .item-name {
            color: map-get($colors, primary);
            font-size: 16px;
        }

        .item-count {
            margin-left: 20px;
            font-size: 16px;
        }
    }

    ion-footer {
        color: map-get($colors, primary);

        p {
            color: white;
            text-transform: none;
            font-size: 16px;
        }
    }
    @media screen and (min-device-width:768px) and (max-device-width:1024px){
        font-size: 25px;
        }
}
