<ion-header>
  <ion-navbar>
      <title>Advertisement</title>
  </ion-navbar>
       
  </ion-header>
  
  <ion-content fullscreen class="bg-style">
      <br> 

      <ion-card *ngFor="let item of Diamond">
          
            <img src="https://admin.acccim-registration.org.my{{item.FullListing}}" imageViewer>
            <ion-item style="text-align:center">
              <p>Tap again to zoom photo</p>
            </ion-item>
            <ion-item style="text-align:center;">
              <button ion-button (click)="OpenLink(item.DiamondHomePageAdsWebURL)" (click)="OpenLink2(item.WebPopUpAdsURL)"
              (click)="OpenLink3(item.PGSSHomePageAdsWebURL)" style="width:100%;">
                Click to view company website
              </button>
            </ion-item>
            
         
          </ion-card>
          

                
  </ion-content>